<div ng-include="'partials/navbar'"></div>

<div class="jumbotron">
  <h1>Stevie the TV</h1>
  <input type="text" ng-model="searchTerm" /><input type="button" value="Search" ng-click="search(searchTerm)"/>
</div>

<div class="row">
  <div ng-repeat="video in data.items" class="col-sm-6">
      <div style="max-width: 320px">
          <h4 style="white-space: nowrap; text-overflow: ellipsis; width:320px; overflow:hidden">
            {{video.snippet.title}}
          </h4>
      </div>
      <iframe width="320" height="180" ng-src="{{video.videourl}}" frameborder="0" allowfullscreen></iframe>
  </div>
</div>

<div class="footer">
  <p>♥ from the Yeoman team</p>
</div>
